@charset "UTF-8";
.mCSB_scrollTools .mCSB_draggerRail{width:6px;background-color:#e8e3e3!important}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#bdbdbd!important}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar,.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:#e8e3e3!important}
.mCSB_inside>.mCSB_container{margin-right:10px}
.scrollbar{float:left;max-height:242px;width:100%}
.line-clamp-search{background-color:#FFF;display:block;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;-ms-text-overflow:ellipsis;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box}
@mixin activated{&::before{content:"Active:"}}
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.line-clamp-search{white-space:nowrap;:@include activated}
.dropdown-selected{padding:8px 12px!important;@include activated}
.col-two-info .col-xs-4,.title-condition-utilities{height:100%}}
@supports (-ms-ime-align:auto){.line-clamp-search{display:block;position:relative;white-space:nowrap;:@include activated}
.dropdown-selected{padding:9px 12px!important}}
@-moz-document url-prefix(){.line-clamp-search{overflow:hidden;position:relative;white-space:nowrap}
.line-clamp-search:before{background-color:#FFF;bottom:0;position:absolute;right:0;float:right;content:'...';margin-left:-3rem;width:3rem}
.line-clamp-search:after{content:'';background:#FFF;position:absolute;height:50px;width:100%;z-index:1}
.order_condition .select_order_area .select_order{padding-left:0}}
@media not all and (min-resolution:.001dpcm){@supports (-webkit-appearance:none){.line-clamp-search{white-space:nowrap}}}
.animated{animation-duration:1s;animation-fill-mode:both}
.animated.infinite{animation-iteration-count:infinite}
.animated.hinge{animation-duration:2s}
.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{animation-duration:.75s}
@keyframes bounce{20%,53%,80%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1);transform:translate3d(0,0,0)}
40%,43%{animation-timing-function:cubic-bezier(.755,.050,.855,.060);transform:translate3d(0,-30px,0)}
70%{animation-timing-function:cubic-bezier(.755,.050,.855,.060);transform:translate3d(0,-15px,0)}
90%{transform:translate3d(0,-4px,0)}}
.bounce{animation-name:bounce;transform-origin:center bottom}
@keyframes flash{50%,from,to{opacity:1}
25%,75%{opacity:0}}
.flash{animation-name:flash}
@keyframes pulse{from,to{transform:scale3d(1,1,1)}
50%{transform:scale3d(1.05,1.05,1.05)}}
.pulse{animation-name:pulse}
@keyframes rubberBand{from,to{transform:scale3d(1,1,1)}
30%{transform:scale3d(1.25,.75,1)}
40%{transform:scale3d(.75,1.25,1)}
50%{transform:scale3d(1.15,.85,1)}
65%{transform:scale3d(.95,1.05,1)}
75%{transform:scale3d(1.05,.95,1)}}
.rubberBand{animation-name:rubberBand}
@keyframes shake{from,to{transform:translate3d(0,0,0)}
10%,30%,50%,70%,90%{transform:translate3d(-10px,0,0)}
20%,40%,60%,80%{transform:translate3d(10px,0,0)}}
.shake{animation-name:shake}
@keyframes headShake{0%{transform:translateX(0)}
6.5%{transform:translateX(-6px) rotateY(-9deg)}
18.5%{transform:translateX(5px) rotateY(7deg)}
31.5%{transform:translateX(-3px) rotateY(-5deg)}
43.5%{transform:translateX(2px) rotateY(3deg)}
50%{transform:translateX(0)}}
.headShake{animation-timing-function:ease-in-out;animation-name:headShake}
@keyframes swing{20%{transform:rotate3d(0,0,1,15deg)}
40%{transform:rotate3d(0,0,1,-10deg)}
60%{transform:rotate3d(0,0,1,5deg)}
80%{transform:rotate3d(0,0,1,-5deg)}
to{transform:rotate3d(0,0,1,0deg)}}
.swing{transform-origin:top center;animation-name:swing}
@keyframes tada{from,to{transform:scale3d(1,1,1)}
10%,20%{transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)}
30%,50%,70%,90%{transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)}
40%,60%,80%{transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)}}
.tada{animation-name:tada}
@keyframes wobble{from,to{transform:none}
15%{transform:translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)}
30%{transform:translate3d(20%,0,0) rotate3d(0,0,1,3deg)}
45%{transform:translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)}
60%{transform:translate3d(10%,0,0) rotate3d(0,0,1,2deg)}
75%{transform:translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)}}
.wobble{animation-name:wobble}
@keyframes jello{11.1%,from,to{transform:none}
22.2%{transform:skewX(-12.5deg) skewY(-12.5deg)}
33.3%{transform:skewX(6.25deg) skewY(6.25deg)}
44.4%{transform:skewX(-3.125deg) skewY(-3.125deg)}
55.5%{transform:skewX(1.5625deg) skewY(1.5625deg)}
66.6%{transform:skewX(-.78125deg) skewY(-.78125deg)}
77.7%{transform:skewX(.390625deg) skewY(.390625deg)}
88.8%{transform:skewX(-.1953125deg) skewY(-.1953125deg)}}
.jello{animation-name:jello;transform-origin:center}
@keyframes bounceIn{20%,40%,60%,80%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;transform:scale3d(.3,.3,.3)}
20%{transform:scale3d(1.1,1.1,1.1)}
40%{transform:scale3d(.9,.9,.9)}
60%{opacity:1;transform:scale3d(1.03,1.03,1.03)}
80%{transform:scale3d(.97,.97,.97)}
to{opacity:1;transform:scale3d(1,1,1)}}
.bounceIn{animation-name:bounceIn}
@keyframes bounceInDown{60%,75%,90%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;transform:translate3d(0,-3000px,0)}
60%{opacity:1;transform:translate3d(0,25px,0)}
75%{transform:translate3d(0,-10px,0)}
90%{transform:translate3d(0,5px,0)}
to{transform:none}}
.bounceInDown{animation-name:bounceInDown}
@keyframes bounceInLeft{60%,75%,90%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
0%{opacity:0;transform:translate3d(-3000px,0,0)}
60%{opacity:1;transform:translate3d(25px,0,0)}
75%{transform:translate3d(-10px,0,0)}
90%{transform:translate3d(5px,0,0)}
to{transform:none}}
.bounceInLeft{animation-name:bounceInLeft}
@keyframes bounceInRight{60%,75%,90%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
from{opacity:0;transform:translate3d(3000px,0,0)}
60%{opacity:1;transform:translate3d(-25px,0,0)}
75%{transform:translate3d(10px,0,0)}
90%{transform:translate3d(-5px,0,0)}
to{transform:none}}
.bounceInRight{animation-name:bounceInRight}
@keyframes bounceInUp{60%,75%,90%,from,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
from{opacity:0;transform:translate3d(0,3000px,0)}
60%{opacity:1;transform:translate3d(0,-20px,0)}
75%{transform:translate3d(0,10px,0)}
90%{transform:translate3d(0,-5px,0)}
to{transform:translate3d(0,0,0)}}
.bounceInUp{animation-name:bounceInUp}
@keyframes bounceOut{20%{transform:scale3d(.9,.9,.9)}
50%,55%{opacity:1;transform:scale3d(1.1,1.1,1.1)}
to{opacity:0;transform:scale3d(.3,.3,.3)}}
.bounceOut{animation-name:bounceOut}
@keyframes bounceOutDown{20%{transform:translate3d(0,10px,0)}
40%,45%{opacity:1;transform:translate3d(0,-20px,0)}
to{opacity:0;transform:translate3d(0,2000px,0)}}
.bounceOutDown{animation-name:bounceOutDown}
@keyframes bounceOutLeft{20%{opacity:1;transform:translate3d(20px,0,0)}
to{opacity:0;transform:translate3d(-2000px,0,0)}}
.bounceOutLeft{animation-name:bounceOutLeft}
@keyframes bounceOutRight{20%{opacity:1;transform:translate3d(-20px,0,0)}
to{opacity:0;transform:translate3d(2000px,0,0)}}
.bounceOutRight{animation-name:bounceOutRight}
@keyframes bounceOutUp{20%{transform:translate3d(0,-10px,0)}
40%,45%{opacity:1;transform:translate3d(0,20px,0)}
to{opacity:0;transform:translate3d(0,-2000px,0)}}
.bounceOutUp{animation-name:bounceOutUp}
@keyframes fadeIn{from{opacity:0}
to{opacity:1}}
.fadeIn{animation-name:fadeIn}
@keyframes fadeInDown{from{opacity:0;transform:translate3d(0,-100%,0)}
to{opacity:1;transform:none}}
.fadeInDown{animation-name:fadeInDown}
@keyframes fadeInDownBig{from{opacity:0;transform:translate3d(0,-2000px,0)}
to{opacity:1;transform:none}}
.fadeInDownBig{animation-name:fadeInDownBig}
@keyframes fadeInLeft{from{opacity:0;transform:translate3d(-100%,0,0)}
to{opacity:1;transform:none}}
.fadeInLeft{animation-name:fadeInLeft}
@keyframes fadeInLeftBig{from{opacity:0;transform:translate3d(-2000px,0,0)}
to{opacity:1;transform:none}}
.fadeInLeftBig{animation-name:fadeInLeftBig}
@keyframes fadeInRight{from{opacity:0;transform:translate3d(100%,0,0)}
to{opacity:1;transform:none}}
.fadeInRight{animation-name:fadeInRight}
@keyframes fadeInRightBig{from{opacity:0;transform:translate3d(2000px,0,0)}
to{opacity:1;transform:none}}
.fadeInRightBig{animation-name:fadeInRightBig}
@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}
to{opacity:1;transform:none}}
.fadeInUp{animation-name:fadeInUp}
@keyframes fadeInUpBig{from{opacity:0;transform:translate3d(0,2000px,0)}
to{opacity:1;transform:none}}
.fadeInUpBig{animation-name:fadeInUpBig}
@keyframes fadeOut{from{opacity:1}
to{opacity:0}}
.fadeOut{animation-name:fadeOut}
@keyframes fadeOutDown{from{opacity:1}
to{opacity:0;transform:translate3d(0,100%,0)}}
.fadeOutDown{animation-name:fadeOutDown}
@keyframes fadeOutDownBig{from{opacity:1}
to{opacity:0;transform:translate3d(0,2000px,0)}}
.fadeOutDownBig{animation-name:fadeOutDownBig}
@keyframes fadeOutLeft{from{opacity:1}
to{opacity:0;transform:translate3d(-100%,0,0)}}
.fadeOutLeft{animation-name:fadeOutLeft}
@keyframes fadeOutLeftBig{from{opacity:1}
to{opacity:0;transform:translate3d(-2000px,0,0)}}
.fadeOutLeftBig{animation-name:fadeOutLeftBig}
@keyframes fadeOutRight{from{opacity:1}
to{opacity:0;transform:translate3d(100%,0,0)}}
.fadeOutRight{animation-name:fadeOutRight}
@keyframes fadeOutRightBig{from{opacity:1}
to{opacity:0;transform:translate3d(2000px,0,0)}}
.fadeOutRightBig{animation-name:fadeOutRightBig}
@keyframes fadeOutUp{from{opacity:1}
to{opacity:0;transform:translate3d(0,-100%,0)}}
.fadeOutUp{animation-name:fadeOutUp}
@keyframes fadeOutUpBig{from{opacity:1}
to{opacity:0;transform:translate3d(0,-2000px,0)}}
.fadeOutUpBig{animation-name:fadeOutUpBig}
@keyframes flip{from{transform:perspective(400px) rotate3d(0,1,0,-360deg);animation-timing-function:ease-out}
40%{transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);animation-timing-function:ease-out}
50%{transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);animation-timing-function:ease-in}
80%{transform:perspective(400px) scale3d(.95,.95,.95);animation-timing-function:ease-in}
to{transform:perspective(400px);animation-timing-function:ease-in}}
.animated.flip{-webkit-backface-visibility:visible;backface-visibility:visible;animation-name:flip}
@keyframes flipInX{from{transform:perspective(400px) rotate3d(1,0,0,90deg);animation-timing-function:ease-in;opacity:0}
40%{transform:perspective(400px) rotate3d(1,0,0,-20deg);animation-timing-function:ease-in}
60%{transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}
80%{transform:perspective(400px) rotate3d(1,0,0,-5deg)}
to{transform:perspective(400px)}}
.flipInX{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipInX}
.flipInY,.flipOutX{-webkit-backface-visibility:visible!important}
@keyframes flipInY{from{transform:perspective(400px) rotate3d(0,1,0,90deg);animation-timing-function:ease-in;opacity:0}
40%{transform:perspective(400px) rotate3d(0,1,0,-20deg);animation-timing-function:ease-in}
60%{transform:perspective(400px) rotate3d(0,1,0,10deg);opacity:1}
80%{transform:perspective(400px) rotate3d(0,1,0,-5deg)}
to{transform:perspective(400px)}}
.flipInY{backface-visibility:visible!important;animation-name:flipInY}
@keyframes flipOutX{from{transform:perspective(400px)}
30%{transform:perspective(400px) rotate3d(1,0,0,-20deg);opacity:1}
to{transform:perspective(400px) rotate3d(1,0,0,90deg);opacity:0}}
.flipOutX{animation-name:flipOutX;backface-visibility:visible!important}
@keyframes flipOutY{from{transform:perspective(400px)}
30%{transform:perspective(400px) rotate3d(0,1,0,-15deg);opacity:1}
to{transform:perspective(400px) rotate3d(0,1,0,90deg);opacity:0}}
.flipOutY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;animation-name:flipOutY}
@keyframes lightSpeedIn{from{transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}
60%{transform:skewX(20deg);opacity:1}
80%{transform:skewX(-5deg);opacity:1}
to{transform:none;opacity:1}}
.lightSpeedIn{animation-name:lightSpeedIn;animation-timing-function:ease-out}
@keyframes lightSpeedOut{from{opacity:1}
to{transform:translate3d(100%,0,0) skewX(30deg);opacity:0}}
.lightSpeedOut{animation-name:lightSpeedOut;animation-timing-function:ease-in}
@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}
to{transform-origin:center;transform:none;opacity:1}}
.rotateIn{animation-name:rotateIn}
@keyframes rotateInDownLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,-45deg);opacity:0}
to{transform-origin:left bottom;transform:none;opacity:1}}
.rotateInDownLeft{animation-name:rotateInDownLeft}
@keyframes rotateInDownRight{from{transform-origin:right bottom;transform:rotate3d(0,0,1,45deg);opacity:0}
to{transform-origin:right bottom;transform:none;opacity:1}}
.rotateInDownRight{animation-name:rotateInDownRight}
@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}
to{transform-origin:left bottom;transform:none;opacity:1}}
.rotateInUpLeft{animation-name:rotateInUpLeft}
@keyframes rotateInUpRight{from{transform-origin:right bottom;transform:rotate3d(0,0,1,-90deg);opacity:0}
to{transform-origin:right bottom;transform:none;opacity:1}}
.rotateInUpRight{animation-name:rotateInUpRight}
@keyframes rotateOut{from{transform-origin:center;opacity:1}
to{transform-origin:center;transform:rotate3d(0,0,1,200deg);opacity:0}}
.rotateOut{animation-name:rotateOut}
@keyframes rotateOutDownLeft{from{transform-origin:left bottom;opacity:1}
to{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}}
.rotateOutDownLeft{animation-name:rotateOutDownLeft}
@keyframes rotateOutDownRight{from{transform-origin:right bottom;opacity:1}
to{transform-origin:right bottom;transform:rotate3d(0,0,1,-45deg);opacity:0}}
.rotateOutDownRight{animation-name:rotateOutDownRight}
@keyframes rotateOutUpLeft{from{transform-origin:left bottom;opacity:1}
to{transform-origin:left bottom;transform:rotate3d(0,0,1,-45deg);opacity:0}}
.rotateOutUpLeft{animation-name:rotateOutUpLeft}
@keyframes rotateOutUpRight{from{transform-origin:right bottom;opacity:1}
to{transform-origin:right bottom;transform:rotate3d(0,0,1,90deg);opacity:0}}
.rotateOutUpRight{animation-name:rotateOutUpRight}
@keyframes hinge{0%{transform-origin:top left;animation-timing-function:ease-in-out}
20%,60%{transform:rotate3d(0,0,1,80deg);transform-origin:top left;animation-timing-function:ease-in-out}
40%,80%{transform:rotate3d(0,0,1,60deg);transform-origin:top left;animation-timing-function:ease-in-out;opacity:1}
to{transform:translate3d(0,700px,0);opacity:0}}
.hinge{animation-name:hinge}
@keyframes jackInTheBox{from{opacity:0;transform:scale(.1) rotate(30deg);transform-origin:center bottom}
50%{transform:rotate(-10deg)}
70%{transform:rotate(3deg)}
to{opacity:1;transform:scale(1)}}
.jackInTheBox{animation-name:jackInTheBox}
@keyframes rollIn{from{opacity:0;transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}
to{opacity:1;transform:none}}
.rollIn{animation-name:rollIn}
@keyframes rollOut{from{opacity:1}
to{opacity:0;transform:translate3d(100%,0,0) rotate3d(0,0,1,120deg)}}
.rollOut{animation-name:rollOut}
@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}
50%{opacity:1}}
.zoomIn{animation-name:zoomIn}
@keyframes zoomInDown{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomInDown{animation-name:zoomInDown}
@keyframes zoomInLeft{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(10px,0,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomInLeft{animation-name:zoomInLeft}
@keyframes zoomInRight{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomInRight{animation-name:zoomInRight}
@keyframes zoomInUp{from{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
60%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomInUp{animation-name:zoomInUp}
@keyframes zoomOut{from{opacity:1}
50%{opacity:0;transform:scale3d(.3,.3,.3)}
to{opacity:0}}
.zoomOut{animation-name:zoomOut}
@keyframes zoomOutDown{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
to{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform-origin:center bottom;animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomOutDown{animation-name:zoomOutDown}
@keyframes zoomOutLeft{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}
to{opacity:0;transform:scale(.1) translate3d(-2000px,0,0);transform-origin:left center}}
.zoomOutLeft{animation-name:zoomOutLeft}
@keyframes zoomOutRight{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}
to{opacity:0;transform:scale(.1) translate3d(2000px,0,0);transform-origin:right center}}
.zoomOutRight{animation-name:zoomOutRight}
@keyframes zoomOutUp{40%{opacity:1;transform:scale3d(.475,.475,.475) translate3d(0,60px,0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}
to{opacity:0;transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform-origin:center bottom;animation-timing-function:cubic-bezier(.175,.885,.32,1)}}
.zoomOutUp{animation-name:zoomOutUp}
@keyframes slideInDown{from{transform:translate3d(0,-100%,0);visibility:visible}
to{transform:translate3d(0,0,0)}}
.slideInDown{animation-name:slideInDown}
@keyframes slideInLeft{from{transform:translate3d(-100%,0,0);visibility:visible}
to{transform:translate3d(0,0,0)}}
.slideInLeft{animation-name:slideInLeft}
@keyframes slideInRight{from{transform:translate3d(100%,0,0);visibility:visible}
to{transform:translate3d(0,0,0)}}
.slideInRight{animation-name:slideInRight}
@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}
to{transform:translate3d(0,0,0)}}
.slideInUp{animation-name:slideInUp}
@keyframes slideOutDown{from{transform:translate3d(0,0,0)}
to{visibility:hidden;transform:translate3d(0,100%,0)}}
.slideOutDown{animation-name:slideOutDown}
@keyframes slideOutLeft{from{transform:translate3d(0,0,0)}
to{visibility:hidden;transform:translate3d(-100%,0,0)}}
.slideOutLeft{animation-name:slideOutLeft}
@keyframes slideOutRight{from{transform:translate3d(0,0,0)}
to{visibility:hidden;transform:translate3d(100%,0,0)}}
.slideOutRight{animation-name:slideOutRight}
@keyframes slideOutUp{from{transform:translate3d(0,0,0)}
to{visibility:hidden;transform:translate3d(0,-100%,0)}}
.slideOutUp{animation-name:slideOutUp}
.wraper-slider-top .bx-wrapper{-moz-box-shadow:0 0 0 #ccc;-webkit-box-shadow:0 0 0 #ccc;box-shadow:0 0 0 #ccc;border:none!important}
.wraper-slider-top .bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:70px;height:70px;text-indent:-9999px;z-index:9999}
.staff-list .owl-nav{width:180px;text-indent:100%;overflow:hidden;position:absolute;bottom:-114px;right:-7px}
.staff-list .owl-nav .owl-next,.staff-list .owl-nav .owl-prev{background-repeat:no-repeat;width:55px;height:53px;background-image:url(../images/icon/img_navsprite.png);text-indent:100%;overflow:hidden}
.staff-list .owl-nav .owl-prev{background-position:-3px -925px;float:left;margin-left:17px}
.staff-list .owl-nav .owl-next{margin-left:13px;background-position:-3px -813px;float:right;margin-right:35px}
#contact .ullist li a,.block-menu-language li a,.dropdown-selected,.info-appartment-item .des-info-appartment a:hover,.info-phone,.linkBtn01>li>a,.name-appartment h3 a:hover,.sub-menu li a{text-decoration:none}
*,body,html{margin:0;padding:0}
.block-contact-mail a:focus,input[type=range]:focus{outline:0}
.des-benefit .info-benefit,.intro-content-appartment,.redirect-appartment p a{text-overflow:ellipsis;overflow:hidden}
body,html{min-width:1200px;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,メイリオ,Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Arial,sans-serif;font-size:12px;color:#424242}
.block-contact-mail a,a:active,a:focus,a:hover{color:inherit;text-decoration:none}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.menu-header{position:relative;height:750px;width:100%}
.menu-header .top-menu{padding:25px 0;position:absolute;top:0;min-width:100%;background-color:rgba(255,255,255,.8);z-index:100}
.block-contact-mail,.block-contact-phone{border:1px dotted #cdcdce;background-color:rgba(255,255,255,.5);position:relative}
.container{position:relative;width:1200px;margin:0 auto}
.menu-header .container>div{display:inline-block;vertical-align:middle}
.menu-header .top-menu .block-logo{margin-top:-6px;margin-left:15px;margin-right:87px}
.block-logo p{margin-bottom:3px;font-size:14px;line-height:22px}
.block-contact-phone{margin-right:20px}
.block-contact-phone p{font-size:14px;text-align:center;padding:11px 16px 7px 50px}
.block-contact-phone p:first-child{margin:0}
.block-contact-phone.block-contact-phone-jp p{background-position:44px;padding:11px 12px 7px 50px}
.block-contact-phone p:last-child{padding:11px 0;margin:0}
.block-contact-phone span{display:block;width:80%;border-bottom:1px dotted #cdcdce;margin:0 auto}
.block-contact-mail{margin-right:50px}
.block-contact-mail p{margin:0;padding:19px 40px 16px 96px}
.block-contact-mail a{margin:0;display:inline-block;font-size:17px;font-weight:700}
.block-contact-mail a:hover{background-color:#F9A01B;color:#FFF}
.block-contact-mail:hover{border-color:transparent}
.menu-header .top-menu .block-menu-language{margin-left:3px;position:relative}
.block-menu-language ul{display:none;margin:-6px 0 0;padding:0;list-style:none}
.btn-close-menu,.btn-menu{margin-top:10px;border:1px solid #414141}
.block-menu-language ul li{display:inline-block;margin-right:-3px}
.block-menu-language ul li:last-child{margin-right:0}
.block-menu-language li a{border:1px solid #414141;padding:0 7px;font-size:12px;font-family:Roboto;font-weight:300;display:inline-block;color:#414141;background-color:#FFF}
.block-menu-language li a span{width:100%}
.block-menu-language li.active a{color:#FFF;background-color:#414141}
.image-list{position:relative;width:100%}
.image-list img{width:100%;height:754px}
.sub-content-list{width:100%;position:absolute;top:40%;right:0;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s;z-index:60}
.sub-content-list.four-line{top:30%}
.sub-content-list .container{text-align:right}
.banner-content{margin-right:12px}
.banner-content .text-one,.banner-content .text-two{font-size:60px;font-family:MeiryoUI-Bold;font-weight:700;text-align:right;text-shadow:0 2px 3px rgba(28,28,28,.72)}
.banner-content p{margin-bottom:0}
.banner-content .text-two{color:#f9a01b}
.slider-top-menu{position:relative}
.btn-menu{width:54px;position:relative;text-align:center;cursor:pointer}
.btn-menu a:hover{background-color:#FFF}
.btn-menu a{display:inline-block;padding:7px 0;width:100%}
.btn-menu a .fa.fa-bars{color:#771217;font-size:36px}
.btn-close-menu{text-align:center;cursor:pointer}
.btn-close-menu a{display:inline-block;color:#771217;font-size:36px;padding:0}
.search-box{margin-bottom:60px;position:relative}
.search-box .type-search-box{padding:0;list-style:none;text-align:center}
.search-box .type-search-box li{margin-top:-71px;padding:32px 0 23px;display:inline-block;border-radius:5px 5px 0 0;cursor:pointer;background-color:#FFF;position:relative;width:169px;box-shadow:0 2px 7px rgba(0,0,0,.010),0 2px 7px rgba(0,0,0,.12);z-index:60}
.search-box .type-search-box li:last-child{width:164px;border-left:1px solid silver}
.search-box .type-search-box{margin:0 15px}
.search-box .type-search-box li.active:after,.search-box .type-search-box li:hover:after{content:' ';background-image:url(../images/icon/red-triangle.svg);background-repeat:no-repeat;background-position:center;background-size:20px 13px;width:20px;height:13px;position:absolute;bottom:0;left:calc(50% - 10px)}
.search-box .type-search-box li .search-by-house,.search-box .type-search-box li .search-by-office{width:47px;height:47px;background-repeat:no-repeat;background-image:url(../images/icon/img_navsprite.png);cursor:pointer}
.search-box .type-search-box li:first-child{margin-right:-5px;margin-left:-4px;border-right:1px solid silver}
.search-box .type-search-box li a{display:inline-block;color:inherit}
.search-box .type-search-box li span{padding-top:6px;display:block;font-size:18px;font-weight:600;font-family:Roboto;text-transform:uppercase}
.search-box .type-search-box li .search-by-house{background-position:-51px -1231px}
.search-box .type-search-box li .search-by-office{background-position:-3px -1087px}
.search-box .type-search-box li.active .search-by-house,.search-box .type-search-box li:hover .search-by-house{background-image:url(../images/icon/img_navsprite.png);background-repeat:no-repeat;background-position:-3px -1231px}
.search-box .type-search-box li.active span,.search-box .type-search-box li:hover span{color:#771217}
.select-box-block{border-top:5px solid #771217;position:relative;border-radius:0 0 5px 5px;box-shadow:0 1px 2px rgba(0,0,0,.02),0 1px 2px rgba(0,0,0,.2)}
.dropdown-menu-area{position:relative;margin:0;padding:0;list-style:none}
.select-item-row-item{width:100%}
.select-item-row .select-item-row-item:last-child .dropdown-menu-area{width:600px;margin:0 auto}
.dropdown-selected,.select-item-row-item3>div{display:inline-block}
.select-item-row .search-keyword{width:230px;margin-right:12px;padding:13px 15px 9px;border:1px solid silver}
.select-item-row-item3{position:relative;width:800px}
.background-dot-dark,.background-dot-red{-webkit-background-size:3px 3px;-moz-background-size:3px 3px}
::-webkit-input-placeholder{color:#b5b5b5}
.dropdown-selected{padding:11px 12px;position:relative;color:inherit}
.btn-search a,.btn-view-more{display:inline-block;color:#FFF}
.background-dot-red{background-color:#771217;background-image:-webkit-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:-moz-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:-ms-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-size:3px 3px}
.background-dot-dark{background-color:#3C3C3C;background-image:-webkit-repeating-radial-gradient(center center,rgba(88,76,76,.2),rgba(88,76,76,.2) 1px,transparent 1px,transparent 100%);background-image:-moz-repeating-radial-gradient(center center,rgba(88,76,76,.2),rgba(88,76,76,.2) 1px,transparent 1px,transparent 100%);background-image:-ms-repeating-radial-gradient(center center,rgba(88,76,76,.2),rgba(88,76,76,.2) 1px,transparent 1px,transparent 100%);background-image:repeating-radial-gradient(center center,rgba(88,76,76,.2),rgba(88,76,76,.2) 1px,transparent 1px,transparent 100%);background-size:3px 3px}
.btn-search{background-color:#84292e;width:300px;height:50px;text-align:center;margin:0 auto;position:relative}
.btn-search a{font-size:25px;line-height:50px;width:100%;height:100%;text-align:center}
.btn-view-more{background-color:#771217;font-size:20px;border:1px solid #FFF}
.arrival-title .button-arrival{margin:85px 0 0 4px;position:relative}
.sub-menu-list-header{display:none;margin-bottom:0;width:400px;margin-top:26px;background-color:#FFF;position:absolute;right:0;z-index:120}
.sub-menu-list-header>li{position:relative;padding:13px 0 13px 30px;border-top:1px solid #f1e7e7;border-bottom:1px solid #f1e7e7;z-index:99999!important}
.sub-menu-list-header>li:first-child{border-top-color:transparent}
.sub-menu-list-header li a{width:100%;height:100%;display:inline-block;color:inherit;font-size:16px;outline:0!important}
.three-feature-appartment .feature-appartment-tow a,.voucher-block a,input[type=email]:focus,input[type=phone]:focus,textarea{outline:0}
.sub-menu-list-header li:hover{color:#84292e;cursor:pointer}
.sub-menu-list-header>li.active,.sub-menu-list-header>li:hover{font-weight:700;color:#FFF;background-color:#84292e;border-top:1px solid #f1e7e7;border-bottom:1px solid #f1e7e7}
.dropdown-submenu-list{padding:10px 0;width:400px;position:relative;top:13px;right:30px;color:#414141;background-color:#FFF;font-family:Meiryo}
.sub-menu-list-header li .dropdown-submenu-list.show{max-height:300px;height:auto;list-style:none;transition:all .5s ease-in}
.sub-menu-list-header li ul{max-height:0;margin:0;padding:0;overflow:hidden;transition:all .5s ease-out}
.dropdown-submenu-list li{padding:19px 0 0 30px}
.dropdown-submenu-list li:last-child{padding-bottom:13px}
.dropdown-submenu-list li.active,.dropdown-submenu-list li:hover{color:#84292e}
.wrapper-content-block{position:relative}
.arrival-block{background-color:#ebebee}
.arrival-block .row{margin-right:0;margin-left:0;background-color:#771217;background-image:-webkit-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:-moz-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:-ms-repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);background-image:repeating-radial-gradient(center center,rgba(182,121,121,.2),rgba(182,121,121,.2) 1px,transparent 1px,transparent 100%);-webkit-background-size:3px 3px;-moz-background-size:3px 3px;background-size:3px 3px}
.arrival-items .img-apartment{position:relative;width:100%;height:200px}
.arrival-items .img-apartment a{display:inline-block;width:100%;height:100%;overflow:hidden}
.arrival-items .img-apartment img{width:100%;height:100%}
.arrival-items .img-apartment:after{content:' ';background-image:url(../images/icon/white-triangle.svg);background-repeat:no-repeat;background-position:center;background-size:24px 16px;width:24px;height:16px;position:absolute;bottom:-1px;left:calc(50% - 12px)}
.arrival-title{padding:55px 0 0 30px}
.heading-title-arrival{position:relative;display:inline-block;padding-bottom:18px}
.heading-title-arrival:before{content:' ';display:block;height:1px;width:100%;position:absolute;left:0;bottom:0;background-color:#fff}
.arrival-title .heading-title-arrival{padding-left:2px;margin-bottom:14px;font-size:48px}
.arrival-title .heading-title-arrival span{display:block;text-transform:uppercase}
.arrival-title .heading-title-arrival span:first-child{font-family:Roboto;font-weight:700;color:#f9a01b}
.arrival-title .heading-title-arrival span:last-child{font-family:Roboto;font-weight:300;color:#fff;padding-top:2px}
.arrival-title p{font-size:18px;color:#FFF}
.arrival-block .col-xs-3.arrival-items{padding:0;width:292.5px}
.description-arrival-items{padding:0 12px;background-color:#FFF;border:1px solid #ebebee}
.name-appartment{position:relative;display:inline-block;width:100%;margin-bottom:23px}
.name-appartment:before{content:' ';display:block;background-color:#84292e;width:25px;height:3px;position:absolute;left:4px;bottom:-7px}
.intro-content-appartment{height:90px;padding-left:4px;word-break:keep-all;word-wrap:break-word;font-size:14px;line-height:18px;display:block;display:-webkit-box;max-width:400px;margin:0 auto;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.col-xs-4.col-info-benefit a,.des-benefit h3,.des-benefit h3 a{display:inline-block}
.name-appartment h3{height:40px;margin-top:22px;margin-bottom:4px;color:#424242;font-size:18px;font-family:Roboto;font-weight:500}
.name-appartment h3 a{border-bottom:1px solid transparent;color:#424242;display:inline-block}
.name-appartment h3 a:hover{color:#424242;border-bottom:1px solid #424242}
.name-appartment p{padding-left:4px;font-family:Roboto;font-weight:300}
.name-appartment p:nth-child(3){float:right}
.name-appartment p:nth-child(2){float:left}
.price-appartment{margin-bottom:0;padding-bottom:12px;padding-top:11px;margin-right:3px;font-size:22px;text-align:right}
.price-appartment span:first-child{font-family:Roboto;font-weight:700;color:#f49b1c}
.price-appartment span:last-child{font-family:Roboto;font-weight:300;color:#424242;font-size:14px}
.des-benefit h3,.feature-block .options-list li.active a,.feature-block .options-list li:hover a,.heading-title,.redirect-appartment p{font-weight:700}
.benefit-block{margin-bottom:35px}
.benefit-block .row{margin-right:0;margin-left:0}
.benefit-block .bt-solid{height:3px;margin-top:30px}
.benefit-block .common-text{font-size:18px;margin:28px 0}
.benefit-block .col-info-benefit{margin-right:15px;padding:0;width:376px}
.benefit-block .col-info-benefit:last-child{margin-right:0}
.benefit-block .col-info-benefit .img-benefit{width:100%}
.benefit-block .col-info-benefit .img-benefit img{width:376px;height:auto;border:1px solid #ddd;border-bottom:0}
.des-benefit{min-height:205px;padding:0 20px 0 18px;border:1px solid transparent}
.des-benefit h3{width:auto;position:relative;font-size:20px;color:#FFF;padding-bottom:9px;margin-top:18px}
.des-benefit h3:before{content:' ';position:absolute;left:0;bottom:0;width:34px;height:2px;background-color:#FFF}
.des-benefit h3 a{border:1px solid transparent;color:#FFF}
.des-benefit .info-benefit{color:#FFF;line-height:24px;text-align:left;display:block;display:-webkit-box;max-width:400px;margin:0 auto;font-size:15px}
.voucher-block{margin-top:-20px;margin-bottom:25px}
.feature-block{padding:0;margin:0}
.heading-title{font-size:30px}
.three-redirect-appartment{position:relative;margin-bottom:30px;margin-top:30px}
.three-redirect-appartment .row{margin-left:0;margin-right:0;position:relative}
.three-redirect-appartment .redirect-appartment{padding:0;margin-right:15px;width:380px;overflow:hidden;position:relative}
.redirect-appartment:last-child{margin-right:0}
.redirect-appartment a{display:inline-block;width:100%;height:100%}
.redirect-appartment img{width:380px;height:313px}
.redirect-appartment a img{max-width:100%;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;transition:all .5s ease}
.img-apartment img,.redirect-appartment>a:hover img{-moz-transition:all .5s ease;-webkit-transition:all .5s ease}
.info-redirect-appartment{position:absolute;bottom:0;left:0;height:65px;width:100%;padding:9px 15px;background-color:#fff;opacity:.85}
.info-redirect-appartment img{float:right;width:24px;height:17px;position:absolute;right:20px;vertical-align:middle;top:36%}
.redirect-appartment p{margin:0;padding-left:3px;font-size:18px;text-align:left;color:#FFF;width:90%;float:left;display:table;height:50px}
.redirect-appartment a.arrow-appartment-banner{width:10%;float:left}
.redirect-appartment p a{color:#84292e;line-height:25px;word-break:keep-all;word-wrap:break-word}
.redirect-appartment p a:last-child{display:table-cell;vertical-align:middle}
.three-feature-appartment{position:relative;margin-bottom:60px}
.three-feature-appartment .row{margin-left:0;margin-right:0;position:relative}
.info-feature-appartment{background-image:url(../images/items/background-feature-image.png);background-repeat:no-repeat;background-size:100% 100%;height:65px;width:100%;padding:10px 15px;position:absolute;bottom:0;left:0;display:table}
.line-clamp-5{-webkit-line-clamp:5;height:calc(1em * 1.275 * 5)}
.feature-appartment{padding:0;margin-right:15px;width:380px;overflow:hidden;position:relative}
.feature-appartment-one{padding:0;position:relative}
.feature-appartment-tow{padding-left:15px;position:relative}
.feature-appartment:last-child{margin-right:0}
.feature-appartment a{display:inline-block;width:100%;height:100%}
.feature-appartment img{width:380px;height:313px}
.feature-appartment p{margin-top:-35px;padding-left:10px;font-size:18px;font-weight:700;text-align:left;color:#FFF}
.feature-appartment_new p{font-size:15px;display:table-cell;vertical-align:middle;padding-left:55px}
.feature-appartment p a{color:#FFF;width:auto}
#support-lazy.lazy{background-image:none;background-color:#F1F1FA}
#support-lazy{background-image:url(../images/banner-support.jpg);background-size:100% 100%;position:relative}
.introduction-staff-company{margin-bottom:48px;position:relative;display:flex}
.sub-introduce-staff{padding:29px 0 22px;max-width:55em}
.sub-operation-company{max-width:640px}
.introduce-staff{width:50%;background-color:#ebebee;text-align:right}
.heading-title-line{position:relative;font-size:33.78px;font-family:Meiryo;padding-bottom:34px;text-align:left}
.heading-title-line:before{content:' ';width:53px;height:6px;background-color:#84292e;position:absolute;left:3px;bottom:0}
.introduction-staff-company .introduce-staff .heading-title-line{margin-bottom:0}
.info-staff{margin-top:27px;text-align:center}
.info-staff span{display:block}
.info-staff span:first-child{font-size:20px;font-family:Roboto;font-weight:500}
.info-staff span:last-child{// margin-top:5px;font-size:16px;font-family:Roboto;font-weight:300}
.staff-list{margin:35px 0 58px}
.introduce-staff .staff-list .staff-item{position:relative;width:302px;padding:50px 0 27px;margin-right:22px;text-align:center;display:inline-block;background-color:#FFF}
.introduce-staff .staff-list .staff-item:last-child{margin-right:33px}
.staff-item img{margin:0 auto;width:200px!important;height:auto;border-radius:50%;border:1px solid #ececec;display:inline}
.group-staff-button{margin-right:35px;text-align:right;height:53px}
.group-staff-button div{display:inline-block}
.btn-view-staff{position:relative}
.operation-company{padding:10px 27px;// background-color:#771217;width:50%}
.operation-company .heading-title{padding-bottom:35px;margin-top:38px;margin-bottom:32px;font-size:33.78px;color:#FFF;position:relative;font-family:Meiryo}
.operation-company .heading-title:before{content:' ';width:53px;height:6px;background-color:#FFF;position:absolute;left:0;bottom:0}
#wrapper-footer,.items-footer-list{position:relative}
.operation-company p{color:#FFF}
.operation-company .operate-content{margin-bottom:20px;line-height:28px;text-align:justify;letter-spacing:1.5px;font-size:16px;font-family:Roboto;font-weight:300}
.copyright-content,.search-box-title,.search-result{text-align:center}
.website-information .heading-title-line{margin-bottom:37px;font-size:34px}
.website-information .heading-title-line:before{height:6px;width:52px;left:0}
.website-information .info-webpage-list{margin-bottom:49px;display:flex}
.website-information .des-info .des-info-p,.website-information .des-info-item .des-info-item-content{-webkit-line-clamp:4;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden}
.website-information .info-webpage-list .row{margin:0 0 1px}
.website-information .info-webpage-list .row:last-child{margin-bottom:0}
.website-information .info-webpage-list .col-xs-6.col-info-website-item{padding:0;max-height:750px;overflow:hidden}
.website-information .info-webpage-list .col-xs-6.col-info-website-item:first-child{width:42.8%;height:100%}
.website-information .info-webpage-list .col-xs-6.col-info-website-item:last-child{width:57.2%}
.col-info-website-item .col-items-block{height:100%;padding:0}
.website-information .col-items-block .des-info-item{height:100%;color:#FFF}
.website-information .des-info-item h4{margin:0;padding:0 22px 10px 20px;font-size:22px;font-weight:700;line-height:34px}
.website-information .des-info-item h4 a{color:#FFF}
.website-information .des-info-item .des-info-item-content{color:#FFF;padding:14px 20px 15px;height:121px;font-size:16px;font-family:Roboto;font-weight:500;line-height:26px;display:block;margin:0 auto}
.time-block{margin-bottom:0;padding:15px 0 0 20px;word-spacing:2px;font-size:16px;font-family:Roboto;font-weight:300;font-style:italic}
#wrapper-footer.lazy{background-image:none;background-color:#F1F1FA}
#wrapper-footer{padding:67px 0;background-image:url(../images/items/background-footer.png);background-repeat:no-repeat;background-size:100% 100%;width:100%;color:#ebebeb}
.items-footer-list .row{margin:0}
.items-footer-list .logo-footer{margin:0 auto;width:192px}
.items-footer-list .logo-footer img{width:153px;height:auto;margin-top:8px;margin-left:8px;margin-bottom:5px}
#wrapper-footer .heading-title-footer{padding-bottom:13px;margin-bottom:14px;font-size:16.03px;font-weight:700;position:relative}
.address-footer p,.copyright-content{font-family:Roboto;font-weight:300;font-size:14.03px}
#wrapper-footer .heading-title-footer:before{content:' ';width:39px;height:2px;background-color:#313131;position:absolute;left:0;bottom:0}
.items-footer-list .col-xs-3:nth-child(1){width:24%;margin-right:13px}
.items-footer-list .col-xs-3:nth-child(2){width:22%;margin-right:10px}
.items-footer-list .col-xs-2{width:24.5%}
.items-footer-list .col-xs-4{width:27%;padding-right:0}
.address-footer{padding-top:3px}
.address-footer a{color:#e5e2e5}
.option-item-footer{font-size:14.03px;color:#c2c2c2}
.option-item-footer a{color:inherit;display:block}
.address-footer p{padding-left:27px;line-height:25.05px}
.address-footer p:first-child{margin-bottom:9px}
.address-footer p:nth-child(2){margin-bottom:5px}
.address-footer p:last-child{margin-bottom:0}
.btn-to-top,.btn-to-top:hover{background-image:url(../images/icon/img_navsprite.png);cursor:pointer}
.back-to-top{margin-top:66px;width:100%;position:relative}
.back-to-top .solid-line{display:inline-block;width:46%;height:1px;background-color:#2c2c2c}
.btn-to-top{margin-top:-26px;margin-left:23px;display:inline-block;width:45px;height:45px;background-position:-51px -1183px;background-repeat:no-repeat}
.btn-to-top:hover{background-position:-3px -1183px}
.btn-to-top.showTop,.link-to-top.showTop{opacity:1}
.img-apartment img{max-width:100%;transition:all .5s ease}
.feature-appartment a img,.img-apartment:hover img{-moz-transition:all .5s ease;-webkit-transition:all .5s ease}
.feature-appartment a img{max-width:100%;transition:all .5s ease}
.bt-solid,.hcm-office-content{margin-top:21px}
.bt-solid{width:100%;height:1px;background-color:#ebebeb}
.common-text{line-height:26px;font-size:14px}
#contact .modal-title,.content-support h3,.front-heading-title{font-weight:700}
.tags-seo-block{padding:0 90px;margin-bottom:50px}
.tags-seo-block .tag_cloud{background-color:#FFF}
.tag_cloud a{color:rgba(255,255,255,1)!important;cursor:pointer!important}
#contactModal .modal-dialog{width:975px;height:755px}
.iframeContact{width:100%;height:100%;overflow-x:hidden}
#contactModal .modal-content{width:975px;height:755px}
#contactModal .close{width:40px;height:39px;background:url(../images/icon/close-modal.png) no-repeat;position:absolute;top:-18px;right:-18px;opacity:1}
#contact .modal-header{margin-left:40px;border:none}
#contact .modal-title{font-size:20px;background:url(../images/icon/mail2.png) left top 3px/38px 35px no-repeat;padding-left:60px;padding-top:10px;height:40px}
#contact .input-wrap{border:1px dotted silver;margin-bottom:20px;margin-left:40px;margin-right:40px;padding:20px 40px}
#contact .input-text,#contact textarea{padding-left:5px;border:1px solid silver;font-family:Roboto;font-weight:300;font-size:14px;float:right}
#contact .input-wrap .row{margin-bottom:20px}
#contact span{font-family:Roboto;font-weight:300;font-size:14px;color:#000}
#contact .error{color:#e50000}
#contact .input-text{width:376px;height:36px;margin-right:200px}
#contact textarea{width:556px!important;height:145px!important;margin-right:20px;margin-bottom:15px}
#contact .input-wrap p{float:right;margin-right:395px}
#contact .send-step-1{font-family:Meiryo;width:300px;height:43px;background:#84292e;border-radius:3px;border:none;color:#fff;margin-left:320px}
.image-banner-block{position:relative;margin-bottom:50px}
.image-banner-block .image-banner-item{display:inline-flex;vertical-align:middle;height:235px;width:274px;margin-left:7px;margin-right:7px;margin-bottom:10px;cursor:pointer}
.image-banner-block .image-banner-item:last-child{height:auto}
.image-banner-block .image-banner-item img{height:235px;width:274px}
.icon-navsprites-arrow-button,.icon-navsprites-arrow-hover-button,.icon-navsprites-back-to-top,.icon-navsprites-back-to-top-hover,.icon-navsprites-box-up-email,.icon-navsprites-buiding-search,.icon-navsprites-buiding-search-active,.icon-navsprites-building,.icon-navsprites-building-3-stories,.icon-navsprites-bus,.icon-navsprites-controls,.icon-navsprites-home,.icon-navsprites-home-hover,.icon-navsprites-home-icon,.icon-navsprites-home-icon2,.icon-navsprites-home-person,.icon-navsprites-house,.icon-navsprites-house-active,.icon-navsprites-icon-next-detail-button,.icon-navsprites-icon-next-detail-hover-button,.icon-navsprites-icon-pre-detail-button,.icon-navsprites-icon-pre-detail-hover-button,.icon-navsprites-location,.icon-navsprites-location-footer,.icon-navsprites-mail,.icon-navsprites-mail-footer,.icon-navsprites-mail2,.icon-navsprites-mail3,.icon-navsprites-map,.icon-navsprites-next-button,.icon-navsprites-next-button-hover,.icon-navsprites-next-icon,.icon-navsprites-next-icon-2,.icon-navsprites-next-icon-hover,.icon-navsprites-next-paging-icon,.icon-navsprites-next-slide-button,.icon-navsprites-next-square-button,.icon-navsprites-next-square-hover-button,.icon-navsprites-note,.icon-navsprites-office,.icon-navsprites-phone,.icon-navsprites-phone-footer,.icon-navsprites-pre-button,.icon-navsprites-pre-button-hover,.icon-navsprites-pre-slide-button,.icon-navsprites-pre-square-button,.icon-navsprites-pre-square-hover-button,.icon-navsprites-previus-icon,.icon-navsprites-previus-icon-2,.icon-navsprites-previus-icon-hover,.icon-navsprites-previus-paging-icon,.icon-navsprites-price-background,.icon-navsprites-question,.icon-navsprites-question-icon,.icon-navsprites-reset-icon,.icon-navsprites-search,.icon-navsprites-zoom-in-icon{display:inline-block;background:url(../images/icon/img_navsprite.png) no-repeat;overflow:hidden;text-indent:-9999px;text-align:left}
.icon-navsprites-home-icon2{background-position:-53px -1096px;width:42px;height:42px;display:table-cell;vertical-align:middle;position:absolute;content:''}
.icon-navsprites-building{background-position:-3px -1368px;width:36px;height:41px;display:table-cell;vertical-align:middle;position:absolute;content:''}
.top-menu .block-contact-phone.block-contact-phone-common,.top-menu .block-contact-phone.block-contact-phone-layout{display:none}
.button-arrival,.info-apartment .heading-title{display:inline-block}
.button-arrival{margin-top:15px;font-weight:700}
.btn-view-more{padding:10px 57px 9px 18px}
.benefit-block .col-info-benefit .img-benefit:before{content:'';position:absolute;top:0;right:0;bottom:49%;left:0;border:1px solid #ddd;border-bottom:0}
.btn-search a:before,.btn-view-more:before,.btn-view-more:hover:before,.dropdown-selected span:nth-child(2):before,.spritebox-up-email:before,.spritecontrols:before,.spritelocation-footer:before,.spritemail-footer:before,.spritemail2:before,.spritephone-footer:before,.spritephone:before{max-width:100%;background-image:url(../images/icon/img-sprites.png)}
.spritemail2:before{position:absolute;content:'';background-position:0 143%;width:45px;height:43px;left:33px;top:20px}
.btn-view-more:before{position:absolute;content:'';background-position:0 53%;width:25px;height:19px;right:16px;top:14px}
.btn-search a:before{position:absolute;content:'';background-position:0 68%;width:25px;height:25px;right:88px;top:12px}
.spritemail-footer:before{position:absolute;content:'';background-position:0 75%;background-size:385%;width:25px;height:19px;left:15px}
.spritephone:before{position:absolute;content:'';background-position:0 82%;background-size:385%;width:25px;height:19px;left:23px;top:10px}
.spritephone-footer:before{position:absolute;content:'';background-position:0 89%;background-size:385%;width:25px;height:19px;left:16px}
.spritelocation-footer:before{position:absolute;content:'';background-position:0 97%;background-size:385%;width:25px;height:23px;left:16px}
.dropdown-selected{width:20%;display:inline-block;float:left;font-size:14px}
.select-item-row{width:100%}
.select-item-row-item{margin:30px auto;padding:0 10px}
.select-item-row-item3{margin:40px auto 0}
.select2-container{float:left}
.select2-container--default .select2-selection--single{border-radius:0!important;padding:7px 9px;height:auto!important;border:1px solid silver}
.select2-container--default:nth-of-type(n+2) .select2-selection--single{border-left:none}
.select2-container--default .select2-selection--single .select2-selection__rendered{font-size:14px;color:#000!important;padding-left:0!important}
.select2-container--default .select2-selection--single .select2-selection__arrow{background:url(../images/icon/search-arrow.png) no-repeat center;top:18%!important;right:12px!important}
.select2-container--default .select2-selection--single .select2-selection__arrow b{display:none}
.dropdown-submit .select2-container{width:50%!important;margin-bottom:30px}